
<main>
  <article>
  <h1>TODO List</h1>
  <h3>A place to store your todos</h3>
  <input [(ngModel)] = "filterText" placeholder="Filter your to-dos">
  
  
  
  <div>

    
    <ol> 
      
        <todo *ngFor="let todo of (todos | todoFilter : filterText); let i = index" (deleted)="deleteItem(i)" (onComplete)="completeItem(i)" [completed]="todo.completed" [task]="todo.task"></todo>
       
    </ol>

</div>
<input [(ngModel)] = "newTodo" placeholder="Add your to-do"><br>

<button (click)="addTodo()">Add</button>

  
  </article>
  </main>
  