.completed {
    background-color: rgb(94, 173, 199);
    text-decoration: line-through
}

.not-completed {
    background-color: lightsalmon;
}

#cancel{
    float: right;
}

li{
    margin-bottom: 10px;
}